%td
  = link_to question, class: 'show-question-link', 'data-toggle': 'modal', 'data-target': '#modal' do
    = question.question_code
%td= simple_format(question.content)
%td= question.kind
%td.actions
  = link_to edit_question_path(question), class: 'edit-question-link', 'data-toggle': 'modal', 'data-target': '#modal' do
    %span.glyphicon.glyphicon-pencil{ data: {toggle: 'tooltip', placement: 'top'}, title: 'Edit'}
  = link_to delete_modal_question_path(question), class: 'delete-modal-question-link', 'data-toggle': 'modal', 'data-target': '#modal' do
    %span.glyphicon.glyphicon-trash{ data: { toggle: 'tooltip', placement: 'top' }, title: 'Delete' }
