.modal-header
  %button.close{'data-dismiss': 'modal', type: 'button'}
    %span &times;
  %h4#modal-title.modal-title Edit Question
.modal-body
  = form_for @content, { html: { id: 'edit_content', class: 'validate' }} do |f|
    =f.hidden_field :id
    .row
      .col-lg-2
      .col-lg-8.form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .col-lg-2
    .row
      .col-lg-2
      .col-lg-8.form-group
        = f.label :content
        = f.text_area :content, as: :wysihtml5, wysihtml5: { toolbar: { link: false, image: false, html: true } }, class: 'form-control'
      .col-lg-2
.modal-footer
  %a.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Cancel
  %button#save-content-link.btn.btn-primary{ type: 'submit', form: 'edit_content', href: '#' } Save
