.modal-header
  %button.close{'data-dismiss': 'modal', type: 'button'}
    %span &times;
  %h4#modal-title.modal-title Edit version node
.modal-body
  = form_for @version_node, html: { id: 'edit_version_node', class: 'validate' } do |f|
    = f.hidden_field :id
    = f.hidden_field :version_id, value: @version.id
    .row
      .col-lg-1
      .col-lg-5.form-group
        = f.label :question_id, class: 'required-label'
        = f.select :question_id, question_select_options(f.object.question, @version.subject_id), { include_blank: true }, { class: 'form-control', required: true, data: { placeholder: 'Select question',} }
      .col-lg-5.form-group
        = f.label :kind, 'Kind', class: 'required-label'
        = f.select :kind, kind_select_options(f.object.kind), { include_blank: true }, { class: 'form-control', required: true, data: { placeholder: 'Select kind',} }
      .col-lg-1
    .row
      .col-lg-1
      .col-lg-5.form-group
        = f.label :sort, class: 'required-label'
        = f.text_field :sort, class: 'form-control'
      .col-lg-5.form-group
        = f.label :display, class: 'required-label'
        = f.select :display, display_select_options(f.object.display), {}, { class: 'form-control' }
    .row
      .col-lg-1
      .col-lg-3.form-group
        = f.label :response_1, class: 'required-label'
        = f.text_field :response_1, class: 'form-control'
      .col-lg-2.form-group
        = f.label :target_1, class: 'required-label'
        = f.text_field :target_1, class: 'form-control'
      .col-lg-3.form-group
        = f.label :response_2, class: 'required-label'
        = f.text_field :response_2, class: 'form-control'
      .col-lg-2.form-group
        = f.label :target_2, class: 'required-label'
        = f.text_field :target_2, class: 'form-control'
      .col-lg-1
    .row
      .col-lg-1
      .col-lg-3.form-group
        = f.label :response_3, class: 'required-label'
        = f.text_field :response_3, class: 'form-control'
      .col-lg-2.form-group
        = f.label :target_3, class: 'required-label'
        = f.text_field :target_3, class: 'form-control'
      .col-lg-3.form-group
        = f.label :response_fatal, class: 'required-label'
        = f.text_field :response_fatal, class: 'form-control'
      .col-lg-2.form-group
        = f.label :target_fatal, class: 'required-label'
        = f.text_field :target_fatal, class: 'form-control'
      .col-lg-1
    .row
      .col-lg-1
      .col-lg-3.form-group
        = f.label :return_node, class: 'required-label'
        = f.text_field :return_node, class: 'form-control'
      .col-lg-3.form-group
        = f.label :decision_node, class: 'required-label'
        = f.text_field :decision_node, class: 'form-control'
      .col-lg-3.form-group
        = f.label :meets_response, class: 'required-label'
        = f.text_field :meets_response, class: 'form-control'
    .row
      .col-lg-1
      .col-lg-3.form-group
        = f.label :boolean, class: 'required-label'
        = f.text_field :boolean, class: 'form-control'
      .col-lg-3.form-group
        = f.label :target_module, class: 'required-label'
        = f.text_field :target_module, class: 'form-control'
      .col-lg-3.form-group
        = f.label :return, class: 'required-label'
        = f.text_field :return, class: 'form-control'
      .col-lg-1
    - if @version_node.kind == 'q'
      .row
        .col-lg-1
        %strong.col-lg-10 UI
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-10= @version_node.question.content
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-5 Content (if applicable)
        %strong.col-lg-5 Summary
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report content for 1/2 in main module
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-5= @version_node.question.report_content
        .col-lg-5= @version_node.question.report_summary || @version_node.question.summary
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report content for 1/2 in submodule
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-5= @version_node.question.report_content
        .col-lg-5= @version_node.question.report_summary || @version_node.question.summary
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report content for 3 in main module
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-5= @version_node.question.report_content
        .col-lg-5= @version_node.question.report_summary || @version_node.question.summary
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report content for 3 in submodule
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-5
        .col-lg-5=@version_node.question.report_summary
        .col-lg-1
    - if @version_node.kind == 'd'
      .row
        .col-lg-1
        %strong.col-lg-5 Conclusion 1
        %strong.col-lg-5 Conclusion 2
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-5= @version_node.question.conclusion_1
        .col-lg-5= @version_node.question.conclusion_2
        .col-lg-1
    - if %w[cf cp].include?(@version_node.kind)
      .row
        .col-lg-1
        %strong.col-lg-10 UI and report Content
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-10= @version_node.question.content
        .col-lg-1
    - if %w[i].include?(@version_node.kind)
      .row
        .col-lg-1
        %strong.col-lg-10 UI
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-10= @version_node.question.content
        .col-lg-1
      .row
        .col-lg-1
        %strong.col-lg-10 Report content
        .col-lg-1
      .row
        .col-lg-1
        .col-lg-10= Subject.find_by(module_code: @version_node.question.module_code).report_summary
        .col-lg-1
.modal-footer
  %a.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Cancel
  %button#edit-version_node-link.btn.btn-primary{ type: 'submit', form: 'edit_version_node', href: '#' } Save
