.row.col-md-12
  - if current_user.admin?
    = link_to edit_question_path(@next_node.question), class: 'edit-question-link', 'data-toggle': 'modal', 'data-target': '#modal' do
      = "Node #{@next_node.question_code}: ID #{@next_node.id}"
  - if @next_node.question.kind == 'q' 
    %h4= "Question #{@index}"
.row.question-controls
  = form_for @project, url: { action: 'work' }, method: 'get', html: { id: 'node' } do |f| 
    %input{ type: 'hidden', name: 'question_id', id: 'question_id', value: @next_node.question_id }
    %input{ type: 'hidden', name: 'node_id', id: 'node_id', value: @next_node.id }
    %input{ type: 'hidden', name: 'index', id: 'index', value: @index }
    %input{ type: 'hidden', name: 'response_value', id: 'response_value', value: '' }
    %input{ type: 'hidden', name: 'target_node', id: 'target_node', value: '' }
    %input{ type: 'hidden', name: 'return_node', id: 'return_node', value: '' }
    %input{ type: 'hidden', name: 'comment_save', id: 'comment_save', value: '' }
    .col-md-12
      - if @next_node.question.kind == 'q' 
        %h5.content= simple_format(@next_node.question.content)
      - if @next_node.question.kind == 'd'
        %h4 Intermediate Conclusion
        - if @next_node.response_value == '1' 
          %h5.content= simple_format(@next_node.question.conclusion_1)
        - if @next_node.response_value == '2' 
          %h5.content= simple_format(@next_node.question.conclusion_2)
        - if @next_node.response_value == '3' 
          %h5.content= simple_format(@next_node.question.conclusion_3)
      - if @next_node.question.kind == 'cf' 
        %h4 Intermediate Conclusion
        %h5.content= simple_format(next_node.question.content)
      - if @next_node.question.kind == 'cp' 
        %h4 Intermediate Conclusion
        %h5.content= simple_format(@next_node.question.content)
      - if @next_node.question.kind == 'r' 
        %h4 Accounting Recommendation
        %h5.recommendation= simple_format(@next_node.question.content)
      - if @next_node.question.kind == 'i' 
        %h4 Background
        %h5.content= simple_format(@next_node.question.content) || simple_format(@next_node.question.summary)
    .col-md-12
      - if @next_node.index.nil? && @next_node.response_3.blank?
        - if @next_node.response_1.present? && %w[cf cp d].exclude?(@next_node.question.kind)
          = f.submit @next_node.response_1, { class: 'btn btn-success node-response', onclick: "$('#response_value').val('1');$('#target_node').val('#{@next_node.target_1}');$('#return_node').val('#{@next_node.return_node}')", title: ''}
        - if @next_node.response_2.present? && %w[cf cp d].exclude?(@next_node.question.kind)
          = f.submit @next_node.response_2, { class: 'btn btn-success node-response', onclick: "$('#response_value').val('2');$('#target_node').val('#{@next_node.target_2}');$('#return_node').val('#{@next_node.return_node}')" }
      - elsif @next_node.index.nil? && @next_node.response_3.present?
        - if @next_node.response_3.present? && %w[cf cp d].exclude?(@next_node.question.kind)
          = f.submit @next_node.response_3, { class: 'btn btn-success node-response', onclick: "$('#response_value').val('3');$('#target_node').val('#{@next_node.target_3}');$('#return_node').val('#{@next_node.return_node}')" }
      - elsif @next_node.response_3.blank?
        - if @next_node.response_1.present? && %w[cf cp d i].exclude?(@next_node.question.kind)
          = f.submit @next_node.response_1, { class: "btn #{@next_node.display_value == '1' ? 'btn-warning' : 'btn-success'} node-response", onclick: "$('#response_value').val('1');$('#target_node').val('#{@next_node.target_1}');$('#return_node').val('#{@next_node.return_node}')", title: "#{@next_node.display_value == '1' ? 'This is your previous response' : 'Click to change your response'}" }
        - if @next_node.response_2.present? && %w[cf cp d i].exclude?(@next_node.question.kind)
          = f.submit @next_node.response_2, { class: "btn #{@next_node.display_value == '2' ? 'btn-warning' : 'btn-success'} node-response", onclick: "$('#response_value').val('2');$('#target_node').val('#{@next_node.target_2}');$('#return_node').val('#{@next_node.return_node}')", title: "#{@next_node.display_value == '2' ? 'This is your previous response' : 'Click to change your response'}" }
    - if %w[q r].include?@next_node.question.kind
      .col-md-12.spacer.comment-controls
        %textarea{ rows: '4', name: 'comment', id: 'comment', placeholder: 'Your notes and comments will save and appear in the printed report.', style: 'width: 99%', class: 'form-control wysihtml5' }
          = @next_node.comment
        - if @next_node.index
          .col-md-12.spacer
          = f.submit 'Save Comment', { class: 'btn btn-success node-response', onclick: "$('#response_value').val('#{@next_node.response_value}');$('#target_node').val('#{@next_node.target_node}');$('#return_node').val('#{@next_node.return_node}');$('#comment_save').val('true')" }
