.row
  .col-md-12
    %h3.project-name= @project.name
  .col-md-12
  %small
    %em.text-muted
      .col-md-12= "Started on #{@project.created_at.strftime('%m/%d/%Y')}"
  .col-md-12
    = link_to project_path, class: 'show-project-link', 'data-toggle': 'modal', 'data-target': '#modal' do
      %span.glyphicon.glyphicon-eye-open{ data: {toggle: 'tooltip', placement: 'top'}, title: 'View project summary'}
    = link_to "/reports/project/#{@project.id}.html", target: '_blank', class: 'print-project-link' do
      %span.glyphicon.glyphicon-new-window{ data: {toggle: 'tooltip', placement: 'top'}, title: 'Generate report'}
