.modal-header
  %button.close{'data-dismiss': 'modal', type: 'button'}
    %span &times;
  %h4#modal-title.modal-title Edit Project
.modal-body
  = form_for @project, html: { id: 'edit_project', class: 'validate' } do |f| 
    .row
      .col-lg-2
      .col-lg-8.form-group
        = f.label :name, class: 'required-label'
        .help-block A short title for the project (limited to 150 characters)
        = f.text_field :name, class: 'form-control'
      .col-lg-2
    .row
      .col-lg-2
      .col-lg-8.form-group
        = f.label :description
        .help-block A description of for this project
        = f.text_field :description, class: 'form-control'
      .col-lg-2
    .row
      .col-lg-2
      .col-lg-8
        %span.form-group.required
          = f.label :subject, 'Subject', class: 'required-label'
          .help-block
          = f.select :subject, subject_select_options_for_question(f.object.subject), { }, { class: 'form-control', required: true, 'data-placeholder': 'Select Subject' }
      .col-lg-2
.modal-footer
  %a.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Cancel
  %button#edit-project-link.btn.btn-primary{ type: 'submit', form: 'edit_project', href: '#' } Save
