.section.process
  = render 'header'
  - unless @response_nodes.length.zero?
    = render 'work_previous'
  .spacer
    %span
  .node
    - if @next_node.question.kind == 'q'
      .col-md-6.question-container
        = render 'content_container'
    - if @next_node.question.kind == 'i'
      .col-md-6.info-container
        = render 'content_container'
    - if @next_node.question.kind == 'r'
      .col-md-6.recommendation-container
        = render 'content_container'
    - if @next_node.question.kind == 'd'
      .col-md-6.decision-container
        = render 'content_container'
    - if @next_node.question.kind == 'c'
      .col-md-6.conclusion-container
        = render 'content_container'
    - if @next_node.question.kind == 's'
      .col-md-6.scope-container
        = render 'scope_container'
    .col-md-6.help-container
      = render 'help'
- if Rails.env.development?
  = debug(params)
