%td= version_node.question.question_code
%td= version_node.kind
%td= version_node.response_1
%td= version_node.target_1
%td= version_node.response_2
%td= version_node.target_2
%td= version_node.response_3
%td= version_node.target_3
%td= version_node.response_fatal
%td= version_node.target_fatal
%td= version_node.return_node
%td= version_node.decision_node
%td= version_node.meets_response
%td= version_node.boolean
%td= version_node.target_module
%td= version_node.return
%td.actions
  = link_to edit_version_node_path(version_node), class: 'edit-version-node-link', 'data-toggle': 'modal', 'data-target': '#modal' do
    %span.glyphicon.glyphicon-pencil{ data: {toggle: 'tooltip', placement: 'top'}, title: 'Edit'}
  = link_to edit_question_path(version_node.question), class: 'edit-question-link', 'data-toggle': 'modal', 'data-target': '#modal' do
    %span.glyphicon.glyphicon-question-sign{ data: {toggle: 'tooltip', placement: 'top'}, title: 'Edit'}
