.modal-header
  %button.close{ 'aria-label': "Close", 'data-dismiss': 'modal', type: 'button' }
    %span{ 'aria-hidden': 'true' } &times;
  %h4#modal-title.modal-title= "Delete this version"
.modal-body
  = form_for @version, url: delete_version_path(@version), method: 'post', html: { class: 'validate' } do |f|
    = hidden_field_tag :version_id, params[:version_id]

  .row{style: 'margin-top: 20px;'}
  = render partial: 'version_field', locals: { label: 'Subject name', value: @version.subject.name }
  = render partial: 'version_field', locals: { label: 'Version number', value: @version.version_number }
.modal-footer
  %a.btn.btn-default{ 'data-dismiss': 'modal', type: 'button' } Cancel
  = link_to 'Delete', version_path(@version), method: :delete, class: 'btn btn-danger delete-version-link'
