.section.versions
  %h1= "#{@version.subject.name}, ver. #{@version.version_number}"
  .pull-right{ style: 'margin-bottom: 10px'}
    = link_to new_question_path, id: 'new-question-link', class: 'btn btn-success', 'data-toggle': 'modal', 'data-target': '#modal' do
      %span.glyphicon.glyphicon-plus
      question
    %span{ style: 'margin-right: 5px' }
    = link_to new_version_node_path(version_id: @version), id: 'new-version-node-link', class: 'btn btn-success', 'data-toggle': 'modal', 'data-target': '#modal' do
      %span.glyphicon.glyphicon-plus
      version node
  %table.table.table-condensed.versions-table
    %thead.versions-header
      %th Question code
      %th Sort
      %th Question type
      %th Response 1
      %th Target 1
      %th Response 2
      %th Target 2
      %th Response 3
      %th Target 3
      %th Fatal response
      %th Fatal target
      %th Return node
      %th Decision node
      %th Meets response
      %th Boolean
      %th Target module
      %th Return?
      %th.actions Actions
    %tbody
      - @version_nodes.map do |version_node|
        %tr
          = render 'version_node', version_node: version_node
