-# Rails flash messages styled for Bootstrap 4.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    -if name.to_s == 'success'
      %div{:class => 'alert alert-success', :role  => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
    -if name.to_s == 'error'
      %div{:class => 'alert alert-danger', :role  => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
    -if name.to_s == 'notice'
      %div{:class => 'alert alert-info', :role  => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
    -if name.to_s == 'alert'
      %div{:class => 'alert alert-warning', :role  => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
