-# navigation styled for Bootstrap 3.0
- if current_user
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target": ".navbar-collapse", "data-toggle": "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-brand= link_to 'GAAP Logic', 'http://gaaplogic.com', style: 'text-decoration: none; color: #777'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'
        .navbar-right
          %span.navbar-text
            = link_to "#{current_user.try(:name) || current_user.try(:email)}", edit_user_registration_path
          %ul.nav.navbar-nav.navbar-icon-list
            %li.dropdown
              %a.dropdown-toggle{href: "#", "data-toggle": "dropdown", role: "button", "aria-haspopup": "true", "aria-expanded": "false"}
                %span.glyphicon.glyphicon-option-vertical
              %ul.dropdown-menu
                %li
                  %a{href: '#'} Help
                %li.divider
                %li
                  = link_to("Sign out", destroy_user_session_path, method: :delete)

- else
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target": ".navbar-collapse", "data-toggle": "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .navbar-brand= link_to 'GAAP Logic', 'http://gaaplogic.com', style: 'text-decoration: none; color: #777'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          = render 'layouts/navigation_links'
        - if current_user
          .navbar-right
            %ul.nav.navbar-nav.navbar-icon-list
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle": "dropdown", role: "button", "aria-haspopup": "true", "aria-expanded": "false"}
                  %span.glyphicon.glyphicon-option-vertical
                %ul.dropdown-menu
                  / %li
                  / %a{href: '#'} Help
                  / %li.divider
                  %li
                    = link_to("Sign in", user_session_path)

%nav.navbar.navbar-default.navbar-fixed-bottom
  .container-fluid
    .navbar-header
      %span.navbar-text
        Copyright GAAP Logic 2011-2018
      %button.navbar-toggle{"data-target": ".navbar-collapse", "data-toggle": "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/footer_links'
